/*  your css code here. If applicable */
#box{
	background-color:#f8f8f8;
	display: flex;
    justify-content: center;
	align-items:center;
	flex-direction: column;
}
.book-library{
	background-color:#ffffff;
	 display: flex;
    justify-content: center;
	align-items:center;
	display:block;
}
.book{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	
}
.author {
    background-color: rgb(119, 119, 119); 
    display: inline-block; /* Helps with background display */
    padding: 4px 8px;      /* Adds some spacing */
    
    /* --> Add this line to fix the test failure <-- */
    color: rgb(255, 255, 255); /* Makes the text white */
}
.price{
	color:white;
	font-weight: bold;
	background-color: #2ecc71;
	width:600px;
	display:inline-block;
	}