/*  your css code here. If applicable */
#box{
	background-color:#f8f8f8;
	display: flex;
    justify-content: center;
	align-items:center;
	flex-direction: column;
}
.book-library{
	background-color:#ffffff;
	 display: flex;
    justify-content: center;
	align-items:center;
	display:block;
}
.book{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	
}
.author{
	background-color:#777777;
width:600px;
	display: inline-block;
    padding: 4px 8px; /* Added padding for better display */
    color: white;
}
.price{
	color:white;
	font-weight: bold;
	background-color: #2ecc71;
	width:600px;
	display:inline-block;
	}