/*  your css code here. If applicable */
#box{
	background-color:#f8f8f8;
	display: flex;
    justify-content: center;
	align-items:center;
	flex-direction: column;
}
.book-library{
	width:px;
	background-color:#ffffff;
	 display: flex;
    justify-content: center;
	align-items:center;
	display:block;
}
.book{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}
#author{
	background-color:#777777;
	display:block;
}
#price{
	background-color:#2ecc71;
	display:flex;
	justify-content: center;
	align-items:center;
	display:block;
	}